@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700);


body{
	background: #171814;
  margin-left: 40px;
}

h2{
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 300;
  color: #FA9700;
  font-size: 28px;
  margin-top: 0px;
}

header{
	text-align: center;
	background: #171814;
	width: 1000px;
}

.boxHead{
	font-family: 'Yanone Kaffeesatz';
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
  margin-top: 0;
}

.boxHead2{
  font-family: 'Yanone Kaffeesatz';
  font-size: 40px;
  color: white;
  margin-left: 700px;
  color: #FFFFFF;
  margin-top: 0;
}

.receipt-window{
	float: left;
	padding-right: 62px;
	font-family: courier;
	font-size: 20px;
}


.menu-window{
  margin-left: auto;
  margin-right: auto;
}


#buttonsMenu{
	list-style-type: none;
  margin-left: 400px;
  margin-right: auto;
}

.button{
	width: 550px;
	height: 60px;
	margin-bottom: 14px;
	padding-right: 62px;
  padding-left: 40px;
	font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
  border-left: black;
  border-right: black;
  background-color: #171814;
  outline-color: red;
}

.logo{
  margin: 0;
  padding-top: 15px;
  width: 55%;
}

#receipt{
  list-style-type: none;
  height: 300px;
  width: 400px;
  line-height: 1.5em;
  overflow: auto;
  background-color: gray;
  border-radius: 0.15em;
  padding-top: 0.25em;
  margin-bottom: 5px;
  padding-left: 5px;
}

#total {
  border-color: white;
  height: 40px;
  width: 400px;
  top-margin: 20px
  line-height: 1.5em;
  overflow: auto;
  background-color: gray;
  border-radius: 0.15em;
  padding-top: 0.25em;
  margin-bottom: 5px;
  padding-left: 5px;
}

#tax {
  height: 40px;
  width: 400px;
  top-margin: 20px
  line-height: 1.5em;
  overflow: auto;
  background-color: gray;
  border-radius: 0.15em;
  padding-top: 0.25em;
  margin-bottom: 5px;
  padding-left: 5px;
}

#grandtotal {
  height: 40px;
  width: 400px;
  top-margin: 20px
  line-height: 1.5em;
  overflow: auto;
  background-color: gray;
  border-radius: 0.15em;
  padding-top: 0.25em;
  padding-left: 5px;
}

.containter {
  margin: auto;
  padding-left: 10px;
}





